/* For background colour and aliment */
* {
    background-color: rgb(38, 35, 35);
    text-align: center;

}

/* For text Colour */
h1,
h2,
h3,
h4,
h5,
h6,
p,
em {
    color: brown;
}

/* For list colour and left aliment */
ul,
li,
ol,
h3,
b {
    color: brown;
    text-align: left;
    /* list-style-type: none; */
}

/* For centering h3 */
h1+hr+h2+hr+h3 {
    text-align: center;
}

/* For colour */
.a {
    color: blue;
}

/* For giving hover facility */
.a:hover {
    transform: scale(1.1);
    color: #FCFC8C;

}

/* For hover in img */
.an>img:hover {
    transform: scale(1.1);
}